html, body {
  min-height: 100%;
}

/*** layout ***/

#slide-wrap {
  position: relative;
  width: 720px;
  height: 480px;
  background-color: black;
}

/*** canvas ***/

#canvas {
  height: 100%;
  width: 100%;
}

.multi-textures {
  position: absolute;
  top: 0;
  left: 0;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 5%;

  color: white;
  text-shadow: 0 2px 2px black;
  font-size: 1.5em;
  font-weight: 700;
}

.slide-text.animating {
  animation: toLeft 3s cubic-bezier(0,0,0,1);
}

@keyframes toLeft {
  from { transform: translateX(100px) }
  to   { transform: translateX(0) }
}

.change-slide {
  display: inline-block;
  padding: 0.25em 0.5em;
  background: white;
  margin: 0 1em;
  cursor: pointer;
}

.multi-textures img, .multi-textures video {
  display: none;
}
